!!! 5
%head
  %title Derp
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
%body
  #top-nav
    %ul
      %li.name
        %h1= link_to "Derp", root_path
  #main
    #sidebar
      %h2 Sidebar
      - Faker::Lorem.paragraphs.each do |p|
        = content_tag(:p, p)
    #content
      = yield
